<ion-header>
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>

  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <ion-item>
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input
        type="password"
        formControlName="nuevaContrasena"
        [type]="passwordType"
      ></ion-input>
      <ion-button
        fill="clear"
        size="small"
        slot="end"
        (click)="togglePasswordVisibility()"
      >
        {{ passwordType === 'password' ? 'Mostrar' : 'Ocultar' }}
      </ion-button>
    </ion-item>
    <div *ngIf="formErrors?.nuevaContrasena" class="error">
      <p>{{ formErrors.nuevaContrasena }}</p>
    </div>

    <ion-item>
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input
        type="password"
        formControlName="confirmarContrasena"
      ></ion-input>
    </ion-item>
    <div *ngIf="formErrors?.confirmarContrasena" class="error">
      <p>{{ formErrors.confirmarContrasena }}</p>
    </div>

    <ion-button expand="block" type="submit" [disabled]="resetPasswordForm.invalid">
      Restablecer Contraseña
    </ion-button>
  </form>
</ion-content>
