<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Mensaje de recuperación (si existe) -->
  <ion-text 
    *ngIf="recoveryMessage" 
    [color]="emailVerified ? 'success' : 'danger'" 
    class="ion-text-center"
  >
    <p>{{ recoveryMessage }}</p>
  </ion-text>

  <!-- Formulario para verificar el correo -->
  <form 
    *ngIf="!emailVerified" 
    [formGroup]="forgotPasswordForm" 
    (ngSubmit)="requestRecoveryLink()"
  >
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input 
        formControlName="correo" 
        type="email" 
        placeholder="ejemplo@sanbernardo.cl"
      ></ion-input>
    </ion-item>

    <ion-button 
      expand="block" 
      type="submit" 
      [disabled]="forgotPasswordForm.invalid"
    >
      Solicitar Enlace de Recuperación
    </ion-button>

    <ion-text color="primary" class="ion-text-center">
      <p 
        (click)="goToLogin()" 
        style="cursor: pointer; margin-top: 1rem;"
      >
        Regresar al Login
      </p>
    </ion-text>
  </form>

  <!-- Formulario para actualizar la contraseña -->
  <form 
    *ngIf="emailVerified" 
    [formGroup]="updatePasswordForm" 
    (ngSubmit)="updatePassword()"
  >
    <ion-item>
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input 
        formControlName="nuevaContrasena" 
        type="password" 
        placeholder="Escribe tu nueva contraseña"
      ></ion-input>
    </ion-item>

    <ion-button 
      expand="block" 
      type="submit" 
      [disabled]="updatePasswordForm.invalid"
    >
      Actualizar Contraseña
    </ion-button>
  </form>
</ion-content>
